span.glyphicon {
    cursor: pointer;
}

#content {
    margin-right :3px;
    margin-top :20px;
   
}

body {
      
        text-align:center;
        width:60%;
        padding-left:500px;
       
}
h1 {
    color:black;
}

button{
    color:black;
}

#editor{
    color:black;
}

#date-container {
   position: relative;
}

ul li{
    color:white;
}